<mat-spinner *ngIf="isLoading; else loaded"></mat-spinner>
<ng-template #loaded>
  <mat-card>
    <form [formGroup]="form!" (ngSubmit)="onNoteSubmitted()">
      <mat-form-field>
        <input
          formControlName="title"
          matInput
          type="text"
          placeholder="title"
          required
        />
        <mat-error *ngIf="title?.invalid"
          >Title of at least length 7 is required</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          cols="20"
          rows="4"
          formControlName="content"
          placeholder="content"
        >
        </textarea>
        <mat-error *ngIf="content?.invalid">Note content is required</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </mat-card>
</ng-template>
